/* Globalstyling */

body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Montaga', serif;
    font-size: 20px;
}


/* G.S. - navigation styles */


/* G.S. - forsiden styles */


/* G.S. - om os styles */


/* G.S. - menu styles */
button.accordion {
    color: white;
    width: 50%;
    background-color: rgb(116, 1, 42);
    border-radius: 100px;
    border: none;
    outline: none;
    text-align: left;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.2s linear;
    display: block;
    margin: auto;
}

button.accordion i {
    font-size: 14px;
    float: right;
}

button.accordion:hover {
    background-color: rgb(116, 1, 42);
}

.accordion-content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

#menusiden h3 {
    color: black;
    text-align: center;
}




/* G.S. - booking styles */




/* G.S. - anmeldser, nyheder, logoer styles */


/* G.S. - Kontakt styles */

/*Footer*/
#kontakt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(53, 43, 43);
    margin-top: 60px;
    text-align: center;
}

#kontakt h3 {
    font-size: 15px;
}

kontakt p {
    font-size: 10px;
}

#kontakt p,
h3 {
    color: white;
}

#so_melogo {
    color: white;
    margin: 5%;
}

#kontakt div {
    padding: 10px;
}


/* Mobile */
@media (min-width:400px) {}


/* Tablet */
@media (min-width:700px)

/* Desktop */
@media (min-width:1025px) {}


/* footer */
#kontakt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}


}
